.vs/Standard.Framework/v15/Server/sqlite3/storage.ide-wal
.vs/Standard.Framework/v15/Server/sqlite3/storage.ide-shm
.vs/Standard.Framework/v15/Server/sqlite3/storage.ide
Standard.Framework.Message/obj/Debug/netstandard2.0/Standard.Framework.Result.csproj.FileListAbsolute.txt
Standard.Framework.Message/obj/project.assets.json
Standard.Framework.Message/obj/Debug/netstandard2.0/Standard.Framework.Result.csproj.CopyComplete
Standard.Framework.Message/bin/Debug/netstandard2.0/Standard.Framework.Result.deps.json
Standard.Framework.Message/bin/Debug/netstandard2.0/Newtonsoft.Json.xml
Standard.Framework.Message/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Mvc.Abstractions.xml
Standard.Framework.Http/obj/project.assets.json
.vs/Standard.Framework/DesignTimeBuild/.dtbcache
Standard.Framework.Filter/obj/project.assets.json
Standard.Framework.Filter/obj/Debug/netstandard2.0/Standard.Framework.Filter.csproj.FileListAbsolute.txt
Standard.Framework.Filter/obj/Debug/netstandard2.0/Standard.Framework.Filter.csproj.CopyComplete
Standard.Framework.Filter/bin/Debug/netstandard2.0/Standard.Framework.Filter.deps.json
Standard.Framework.Extension/obj/Standard.Framework.Extension.csproj.nuget.g.targets
Standard.Framework.Extension/obj/Standard.Framework.Extension.csproj.nuget.g.props
Standard.Framework.Extension/obj/Debug/netstandard2.0/Standard.Framework.Extension.csproj.FileListAbsolute.txt
Standard.Framework.Extension/obj/Debug/netstandard2.0/Standard.Framework.Extension.AssemblyInfo.cs
Standard.Framework.Extension/obj/project.assets.json
Standard.Framework.Data/obj/Debug/netstandard2.0/Standard.Framework.Data.csproj.FileListAbsolute.txt
Standard.Framework.Http/obj/Debug/netstandard2.0/Standard.Framework.Http.csproj.CopyComplete
Standard.Framework.Http/bin/Debug/netstandard2.0/Standard.Framework.Http.deps.json
Standard.Framework.Http/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Mvc.Abstractions.xml
Standard.Framework.Http/obj/Debug/netstandard2.0/Standard.Framework.Http.csproj.FileListAbsolute.txt
Standard.Framework.Utils/obj/project.assets.json
Standard.Framework.Utils/obj/Debug/netstandard2.0/Standard.Framework.Utils.AssemblyInfo.cs
Standard.Framework.Utils/bin/Debug/netstandard2.0/Standard.Framework.Utils.deps.json
Standard.Framework.Utils/obj/Standard.Framework.Utils.csproj.nuget.g.targets
Standard.Framework.Utils/obj/Standard.Framework.Utils.csproj.nuget.g.props
Standard.Framework.Utils/obj/Debug/netstandard2.0/Standard.Framework.Utils.csproj.FileListAbsolute.txt
Standard.Framework.Utils/obj/Debug/netstandard2.0/Standard.Framework.Utils.csproj.CopyComplete
Standard.Framework.Utils/bin/Debug/netstandard2.0/System.ComponentModel.Annotations.xml
Standard.Framework.Validator/obj/Debug/netstandard2.0/Standard.Framework.Validator.csproj.FileListAbsolute.txt
Standard.Framework.Validator/obj/Debug/netstandard2.0/Standard.Framework.Validator.csproj.CopyComplete
Standard.Framework.Validator/bin/Debug/netstandard2.0/Standard.Framework.Validator.deps.json
Standard.Framework.Filter/bin/Debug/netstandard2.0/netstandard2.0/Standard.Framework.Filter.deps.json
/.vs
/Standard.Framework.Data/bin/Debug/netstandard2.0
/Standard.Framework.Data/obj
/Standard.Framework.Extension/bin/Debug/netstandard2.0
/Standard.Framework.Extension/obj
/Standard.Framework.Filter/bin/Debug/netstandard2.0/netstandard2.0
/Standard.Framework.Filter/obj
/Standard.Framework.Http/bin/Debug/netstandard2.0
/Standard.Framework.Http/obj
/Standard.Framework.Message/bin/Debug/netstandard2.0
/Standard.Framework.Message/obj
/Standard.Framework.Utils/bin/Debug/netstandard2.0
/Standard.Framework.Utils/obj
/Standard.Framework.Validator/bin/Debug/netstandard2.0
/Standard.Framework.Validator/obj
